In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [6]:
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'green', 'red', 'blue']
})
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [9]:
encoder=LabelEncoder()

In [20]:
encoded=encoder.fit_transform(df["color"])
df["label_encoded"]=encoded

In [21]:
df

   color  label_encoded
0    red              2
1   blue              0
2  green              1
3  green              1
4    red              2
5   blue              0

In [22]:
from sklearn.preprocessing import OrdinalEncoder

In [24]:
df = pd.DataFrame({
    'size': ['small', 'medium', 'large', 'medium', 'small', 'large']
})

In [37]:
encoder=OrdinalEncoder(categories=[['small',"medium","large"]])

In [46]:
encoded=encoder.fit_transform(df[['size']])
df["Ordinal_Encoded"]=encoded
df

     size  Ordinal_Encoded
0   small              0.0
1  medium              1.0
2   large              2.0
3  medium              1.0
4   small              0.0
5   large              2.0