In [1]:
import pandas as pd

In [2]:
## Create a simple dataframe 
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'green', 'red', 'blue']
})

In [3]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [5]:
encoder=OneHotEncoder()

In [19]:
encoded=encoder.fit_transform(df[['color']]).toarray()

In [20]:
encoded_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [21]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [23]:
encoder.transform([["blue"]]).toarray()

/home/pavan-prasanth/anaconda3/envs/DSP/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [24]:
import seaborn as sns

In [27]:
df=sns.load_dataset("tips")
df.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [28]:
from sklearn.preprocessing import OneHotEncoder

In [29]:
encoder=OneHotEncoder()

In [32]:
encoded=encoder.fit_transform(df[["sex"]]).toarray()

In [34]:
encoded_tips_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [40]:
final=pd.concat([df,encoded_tips_df],axis=1)
final.head(10)

   total_bill   tip     sex smoker  day    time  size  sex_Female  sex_Male
0       16.99  1.01  Female     No  Sun  Dinner     2         1.0       0.0
1       10.34  1.66    Male     No  Sun  Dinner     3         0.0       1.0
2       21.01  3.50    Male     No  Sun  Dinner     3         0.0       1.0
3       23.68  3.31    Male     No  Sun  Dinner     2         0.0       1.0
4       24.59  3.61  Female     No  Sun  Dinner     4         1.0       0.0
5       25.29  4.71    Male     No  Sun  Dinner     4         0.0       1.0
6        8.77  2.00    Male     No  Sun  Dinner     2         0.0       1.0
7       26.88  3.12    Male     No  Sun  Dinner     4         0.0       1.0
8       15.04  1.96    Male     No  Sun  Dinner     2         0.0       1.0
9       14.78  3.23    Male     No  Sun  Dinner     2         0.0       1.0